<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>


    <connectionStrings>
        
        <add name="veramaurinapressConnectionString2" connectionString="Data Source=72.18.158.226,1533;               initial catalog=veramaurinapress;               user ID=veramaurinapress;               password=w3s7C04s7^" providerName="System.Data.SqlClient" />

        <add name="veramaurinapressEntities2" connectionString="metadata=res://*/App_Code.veramaurinapress.csdl|res://*/App_Code.veramaurinapress.ssdl|res://*/App_Code.veramaurinapress.msl;          provider=System.Data.SqlClient;          provider connection string=&quot;          Data Source=72.18.158.226,1533;          user ID=veramaurinapress;           password=w3s7C04s7^;          Integrated Security=False;          User Instance=False;          MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
        
        <remove name="LocalSqlServer" />
        
        <add name="LocalSqlServer" connectionString="Data Source=72.18.158.226,1533;               Initial catalog=ASPNETDB;               User Id=veramaurinapress;               Password=w3s7C04s7^" providerName="System.Data.SqlClient" />

    </connectionStrings>

    <system.web>
        
        <profile>
            <properties>
                <add name="FirstName" />
                <add name="LastName" />
                <add name="Street1" />
                <add name="Street2" />
                <add name="City" />
                <add name="State" />
                <add name="ZipCode" />
                <add name="FavoriteColors" type="System.Collections.Generic.List`1[System.Int32]" />
            </properties>
        </profile>

        <roleManager enabled="true" />

        <membership>
            <providers>
                <clear />
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, 
                   System.Web, 
                   Version=4.0.0.0, 
                   Culture=neutral, 
                   PublicKeyToken=b03f5f7f11d50a3a"
                     connectionStringName="LocalSqlServer"
                     enablePasswordRetrieval="false"
                     enablePasswordReset="true"
                     requiresQuestionAndAnswer="false"
                     applicationName="/"
                     requiresUniqueEmail="false"
                     passwordFormat="Hashed"
                     maxInvalidPasswordAttempts="5"
                     minRequiredPasswordLength="6"
                     minRequiredNonalphanumericCharacters="0"
                     passwordAttemptWindow="10"
                     passwordStrengthRegularExpression="" />
            </providers>
        </membership>

        <authentication mode="Forms" />
        
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="AjaxControlToolkit, Version=4.1.50401.0, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e"/>
            </assemblies>
            
            <buildProviders>
                <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
            </buildProviders>


        </compilation>
        <pages theme="Monochrome" styleSheetTheme="Monochrome">

            <controls>
                <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit, Version=4.1.50401.0, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e"/>
            </controls>

        </pages>
        <customErrors mode="Off" />


     
        
        <siteMap defaultProvider="Sitemap1">
            <providers>
                <add name="SiteMap1" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" />
                <add name="SiteMap2" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web2.sitemap" />
            </providers>
        </siteMap>
        
    </system.web>
    
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="painter@veramaurinapress.com">
                <network host="mail.veramaurinapress.com" userName="painter@veramaurinapress.com" password="w3s7C04s7^" port="587" />
            </smtp>
        </mailSettings>
    </system.net>

  <appSettings>
    <add key="OurEmail" value="painter@veramaurinapress.com" />
    <add key="OurEmailPass" value="w3s7C04s7^" />
    <add key="SMTPServer" value="mail.veramaurinapress.com" />
  </appSettings>

    <location path="Management">
        <system.web>
            <authorization>
                <allow roles="Managers" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>

    <location path="VmpProfile.aspx">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>

    <location path="ManageImageArchive.aspx">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>

    <location path="NewImageArchive">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>

</configuration>