#text-box0 {
    background: #CCC;
    border: 1px solid #999;
    padding: 20px;
    width: 225px;
    float: left;
    margin: 7px;
}

#text-box1 {
    background: #CCC;
    border: 1px solid #999;
    padding: 20px;
    width: 225px;
    float: left;
    margin: 7px;
}

#text-box2 {
    background: #CCC;
    border: 1px solid #999;
    padding: 20px;
    width: 225px;
    float: left;
    margin: 7px;
}